<circle-progress [percent]="percent*100"
                 [radius]="80"
                 [outerStrokeWidth]="16"
                 titleFontSize=40
                 titleColor=black
                 [showSubtitle]="false"
                 [showUnits]="true"
                 [showInnerStroke]="true"
                 unitsFontSize=26
                 [innerStrokeWidth]="4"
                 [outerStrokeColor]="healthColor"
                 [showBackground]="false"
                 [innerStrokeColor]="'#C7E596'"
                 [animation]="true"
                 [animationDuration]="300">
</circle-progress>