<canvas #canvas
        width="800px"
        height="200px">
</canvas>


<div id="inventoryGridContainer">
        <ng-container *ngFor="let item of inventory;let index=index">
                <img *ngIf="(!!item.src)||getImageSource(item)"
                     width="40px"
                     height="40px"
                     (click)="setActiveIndex(index)"
                     [title]="inventoryMap[item.itemType].title"
                     (contextmenu)="openContextMenu($event,item)"
                     [src]="item.src" />
        </ng-container>

</div>
<dialog id="inventoryItemDialog">
        <ng-container *ngIf="menuItem">

                <button mat-button
                        (click)="activationClick(menuItem)">
                        {{ getInventoryItem(menuItem.itemType).activationText }}
                </button>
                <br>
                <button mat-button
                        *ngIf="menuItem.itemType==1"
                        (click)="preview(menuItem)">
                        preview placement
                </button>
        </ng-container>

</dialog>


<img id="tileImageRendererSource"
     crossorigin="anonymous"
     style="position: absolute;display: none;">

<canvas id="tileImageRenderer"
        style="position: absolute;display: none;">

</canvas>