<ng-container *ngIf="userData$|async let userData">

  you died {{ userData.deathCount }} times so far <br>

  <mat-checkbox [(ngModel)]="showAllUsers"
                *ngIf="userData.isAdmin"
                (ngModelChange)="refreshFriends()">show all</mat-checkbox> <br>
  <button *ngIf="userData.isAdmin"
          mat-button
          (click)="messageGlobal()">message global</button>

  <button mat-button
          (click)="refreshFriends()">refresh</button>
  <table>
    <tr>
      <th class="friendIndex">
        Friend Index
      </th>
      <th>
        Name
      </th>
      <th>
        Status
      </th>
      <th>
        Room
      </th>
    </tr>

    <tr *ngFor="let friend of userData.friends | keyvalue: sortFriends">
      <td class="friendIndex">{{friend.value.index}}</td>
      <td>{{friend.key}}</td>
      <td>{{friend.value.status}}</td>

      <ng-container *ngIf="friend.value.status=='online'">
        <td>{{getRoom(friend.value)}}</td>
        <td>
          <button mat-button
                  (click)="messageFriend(friend.value)">message</button>
          <button mat-button
                  *ngIf="!userData.trackedUser"
                  (click)="visitFriend(friend.value)">visit</button>
          <button mat-button
                  *ngIf="userData.trackedUser"
                  (click)="untrack()">untrack</button>
        </td>
      </ng-container>

    </tr>
  </table>
</ng-container>