<!-- <a routerLink="friends">freinds</a>    (click)="openMiro()" -->
<ng-container *ngIf="userData$|async;let userData">
        <mat-checkbox [(ngModel)]="autoOpenOverlay"
                      *ngIf="userData">Automatically Open the overlay on visist</mat-checkbox> <br>

        <button mat-button
                routerLink="friends"
                (click)="blur()">Friends</button>

        <button mat-button
                routerLink="miro">open miro</button>

        <ng-container *ngIf="(isPrivateMap$|async);let isPrivateMap">
                <button mat-button
                        *ngIf="isPrivateMap=='other';else back"
                        (click)="gotoPrivateMap()">private map</button>
                <ng-template #back>
                        <button mat-button
                                (click)="goBackToPreviousMap()">back</button>
                </ng-template>
        </ng-container>



        <br>
        <router-outlet></router-outlet>

        <div id="direction-sign-container"></div>

        <app-health></app-health>
        <app-inventar [inventory]="userData.inventory"></app-inventar>
</ng-container>