<!-- <a routerLink="friends">freinds</a>    (click)="openMiro()" -->

<mat-checkbox [(ngModel)]="autoOpenOverlay"
              *ngIf="userData$|async">Automatically Open the overlay on visist</mat-checkbox> <br>

<button mat-button
        routerLink="friends"
        (click)="blur()">Friends</button>

<button mat-button
        routerLink="miro">open miro</button>

<br>
<router-outlet></router-outlet>

<div id="direction-sign-container"></div>

<app-health></app-health>
<app-inventar [inventory]="(userData$ |async).inventory"></app-inventar>